.background-gray
{
    width:80%;
    max-width:820px;
    margin:0 auto;
    background-image: url('../../images/fundo-video.png');
}

video
{
    width: 100%;
    height: auto;
}

@media (min-width: 576px)
{
    .container_video
    {
        width:860px;
        height: auto;
    }
}